* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    width: 100vw;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

.fundo {
    margin-top: 97px;
    width: 100vw;
    height: 100vh;
    position: fixed; 
    z-index: -2;
    opacity: 50%;
}

.fundo-header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: top;
    width: 100vw;
}

.img-header{
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100px;
}

.cabeçalho{
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: right;
    margin: 15px;
    gap: 20px;
}

.cabeçalho a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
    justify-content: right;
}

.cabeçalho a:hover{
    color: rgb(0, 0, 128);
    font-size: 20px;
    transition: 0.5s ease-in-out;
}

.logo-cabeçalho{
    margin: 20px;
    height: 50px;
}

.logo-cabeçalho:hover{
    height: 60px;
    margin: 15px;
    transition: 0.5s ease-in-out;
}

.institucional{
    padding: 100px;
}

.institucional h1{
    margin-bottom: 10px;
}

.insitucional p{
    padding: 5px;
}

.institucional h3{
    padding: 5px;
}