* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    width: 100hw;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(0, 0, 0);
}

main {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
/*    position: static;*/
    width: 100%;
    height: 300px;
    align-items: center;
}

main h2 {
    color: rgb(25, 123, 189);
    text-shadow: 0.1em 0.1em 0.2em rgb(100, 100, 100);
}

.container {
    width: 100%;
    height: 220px;
    mask-image: linear-gradient(to right, transparent, #000 15% 85%, transparent);
}

.container:hover .item {
    animation-play-state: paused;
    filter: grayscale(1);
}

.container .item:hover {
    filter: grayscale(0);
}

.container .item:hover button {
    visibility: visible;
}

.carrossel {
    display: flex;
    width: 100%;
/*    position: relative;*/
}

.carrossel h3 {
    text-shadow: 0.1em 0.1em 0.2em rgb(100, 100, 100);
}

.item {
    width: 240px;
    border: solid 1px;
    padding: 5px;
    border-radius: 5%;
    color: rgb(25, 123, 189);
    box-shadow: 5px 5px 5px 0px rgb(100, 100, 100);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    position: fixed;
    left: 100%;
    animation: autorun 15s linear infinite;
    animation-delay: calc(var(--delay) * 2.5);
}

.item img {
    width: 98%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px rgb(100, 100, 100);
    margin-bottom: 10px;
}

.item button {
    visibility: hidden;
}

@keyframes autorun {
    from{
        left: 100%;
    }
    to{
        left: -240px;
    }
}

button {
    border: solid 0.5px;
    padding: 5px;
    border-radius: 12%;
    color: rgb(25, 123, 189);
    font-weight: bold;
    box-shadow: 5px 5px 5px 0px rgb(100, 100, 100);
    cursor: pointer;
}

.voltar{
    display: flex;
    gap: 20px;
}

.div-automovel {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(25, 123, 189);
    height: auto;
    width: 400px;
    border: solid;
    padding: 5px;
    border-radius: 25px;
    text-align: center;
    position: fixed;
    left: -300px;
    visibility: hidden;
}

.div-automovel img {
    width: 98%;
    border-radius: 20px;
}

.div-empresarial {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(25, 123, 189);
    height: auto;
    width: 400px;
    border: solid;
    padding: 5px;
    border-radius: 25px;
    text-align: center;
    position: fixed;
    left: -300px;
    visibility: hidden;
}

.div-empresarial img {
    width: 98%;
    border-radius: 20px;
}

.div-residencial {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(25, 123, 189);
    height: auto;
    width: 400px;
    border: solid;
    padding: 5px;
    border-radius: 25px;
    text-align: center;
    position: fixed;
    left: -300;
    visibility: hidden;
}

.div-residencial img {
    width: 98%;
    border-radius: 20px;
}

.div-vida {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(25, 123, 189);
    height: auto;
    width: 400px;
    border: solid;
    padding: 5px;
    border-radius: 25px;
    text-align: center;
    position: fixed;
    left: -300px;
    visibility: hidden;
}

.div-vida img {
    width: 98%;
    border-radius: 20px;
}

.div-agricola {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(25, 123, 189);
    height: auto;
    width: 400px;
    border: solid;
    padding: 5px;
    border-radius: 25px;
    text-align: center;
    position: fixed;
    left: -300px;
    visibility: hidden;
}

.div-agricola img {
    width: 98%;
    border-radius: 20px;
}

.div-portateis {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(25, 123, 189);
    height: auto;
    width: 400px;
    border: solid;
    padding: 5px;
    border-radius: 25px;
    text-align: center;
    position: fixed;
    left: -300px;
    visibility: hidden;
}

.div-portateis img {
    width: 98%;
    border-radius: 20px;
}

.fundo {
    margin-top: 97px;
    width: 100vw;
    height: 100vh;
    position: fixed; 
    z-index: -5;
    opacity: 25%;
}

.fundo-header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: top;
    width: 100vw;
    background-color: white;
}

.img-header{
    position: fixed;
    z-index: -4;
    width: 100vw;
    height: 100px;
}

.cabeçalho{
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: right;
    margin: 15px;
    gap: 20px;
    margin-right: 20px;
}

.cabeçalho a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;    
}

.cabeçalho a:hover{
    color: rgb(0, 0, 128);
    font-size: 20px;
    transition: 0.5s ease-in-out;
}

.logo-cabeçalho{
    margin: 20px;
    height: 50px;
}

.logo-cabeçalho:hover{
    height: 60px;
    margin: 15px;
    transition: 0.5s ease-in-out;
}

.institucional{
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    color: rgb(25, 123, 189);
}

.institucional h1{
    margin-bottom: 10px;
    align-self: center;
}

.institucional h2{
    padding: 5px;
    align-self: center;
}

p.slogan {
    padding: 5px;
    align-self: center;
}

.institucional h3{
    padding: 5px;
}

.insitucional p{
    padding: 5px;
}

.sobre-nos{
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    color: rgb(25, 123, 189)
}

.sobre-nos h1{
    align-self: center;
}

.sobre-nos h3 {
    align-self: left;
}

.seguradoras {
    display: flex;
    flex-direction:row;
    height: 50px;
    gap: 20px;
    align-items: top;
    justify-content: center;
}

.seguradoras img {
    height: 30px;
}

.rodape {
    display: flex;
    flex-direction: row;
    background-color: rgb(25, 123, 189);
    color: white;
    position: fixed;
    height: 100px;
    width: 100vw;
    bottom: 0;
    padding: 10px;
    gap: 500px;
    font-size: 14px;
}

.contato-rodape img {
    position: fixed;
    height: 10px;
}

.imagem-contato{
    display: flex;
    flex-direction: column;
    width: 13px;
    left: 50%;
    transform: translateX(-245px);
    gap: 3px;
    margin-top: 8px;
}

.contato-rodape {
    display: flex;
    flex-direction: column;
    width: 350px;
    position: fixed;
    left: 50%;
    transform: translateX(-140px);
    margin-top: 8px;
}

.logo-rodape {
    height: 50px;
    margin-top: 15px;
}

.whatsapp {
    height: 80px;
    position: fixed;
    right: 10px;
    bottom: 10px;
}
